git:
  submodules: false

before_install:
  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
  - git submodule update --init --recursive
  - sudo apt-get update -qq
  - sudo apt-get install -y pkg-config cmake

script: 
  - mkdir build
  - make

